.required {
  -webkit-box-shadow: 0 0 3px 3px #f3ffa7 inset !important;
  box-shadow: 0 0 3px 3px #f3ffa7 inset !important;
}
.RequiredFieldValidator-validation-error,
.RegularExpressionValidator-validation-error,
.CompareValidator-validation-error,
.CustomValidator-validation-error,
.RangeValidator-validation-error,
.DynamicValidator-validation-error {
  -webkit-box-shadow: 0 0 2px 2px rgba(255, 0, 0, 0.5) inset !important;
  box-shadow: 0 0 2px 2px rgba(255, 0, 0, 0.5) inset !important;
  border: 1px solid rgba(255, 0, 0, 0.6) !important;
}
.pagination {
  margin: 0 !important;
  height: 30px;
}
table tfoot tr td {
  padding: 2px !important;
}
.popover {
  color: #ff0000;
  font-size: 10px;
  font-weight: normal;
  line-height: 12px;
  border: 1px solid #f77;
  border: 1px solid rgba(255, 0, 0, 0.4);
}
.popover-title {
  color: #ff0000;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 4px 7px;
  font-size: 10px;
  font-weight: bold;
  line-height: 12px;
}
.popover.top .arrow {
  border-right-color: #f77;
  border-right-color: rgba(255, 0, 0, 0.4);
  border-bottom-width: 0;
}
.popover.right .arrow {
  border-right-color: #f77;
  border-right-color: rgba(255, 0, 0, 0.4);
  border-left-width: 0;
}
.popover.right .arrow:after {
  border-right-color: #ffffff;
  border-left-width: 0;
}
.popover.bottom .arrow {
  border-bottom-color: #f77;
  border-bottom-color: rgba(255, 0, 0, 0.4);
}
.popover.left .arrow {
  border-left-color: #f77;
  border-left-color: rgba(255, 0, 0, 0.4);
}
.filters-container {
  margin: 0;
  padding: 0;
}
.well h1,
.well h2,
.well h3,
.well h4 {
  margin-top: -8px;
}
.well-sm {
  padding-bottom: 0 !important;
  margin-bottom: 8px;
}
.well-sm span.form-group {
  padding-bottom: 8px;
  display: inline-block;
}
.insert-btn {
  margin-bottom: 8px;
}
.dd-pager {
  padding-bottom: 0px;
}
.table-rounded {
  border-collapse: separate;
  border: solid #ccc 1px;
  border-radius: 6px;
  border-left: 0px;
  border-top: 0px;
}
.table-rounded > thead:first-child > tr:first-child > th {
  border-bottom: 0px;
  border-top: solid #ccc 1px;
}
.table-rounded td,
.table-rounded th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.table-rounded > :first-child > :first-child > :first-child {
  border-radius: 6px 0 0 0;
}
.table-rounded > :first-child > :first-child > :last-child {
  border-radius: 0 6px 0 0;
}
.table-rounded > :last-child > :last-child > :first-child {
  border-radius: 0 0 0 6px;
}
.table-rounded > :last-child > :last-child > :last-child {
  border-radius: 0 0 6px 0;
}
#LoginStatus1
{
    width:35%;
    float:left;
    font-size:12px;
    padding:0;
}
#HyperLink3  
{
    width:60%;
    float:left;
    font-size:12px;
    margin-right:2%;
    padding:0;
    }
.contBtnAdmin
{
    margin-top:3%;
}
.navbar
{
    min-height:0;
    margin-bottom:10px;
    }
    #contentAgregar
    {
       margin-top:25px;
      
    }
    #InsertHyperLink
    {
        padding:8px;
        font-size:12px;
    }
    .btnAgregar
    {
        text-decoration:none;
        
        }
    .btnAgregar:hover
    {
        text-decoration:none;
    }